<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.academy.fundamentals.app" >

    <!-- TODO 08: Request the foreground service permission -->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->

    <application
        android:theme="@style/Theme.Fundamentals2020assignments"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".workshop02.solution.Ws02SolutionBoundedService"
            android:exported="false"
            />

        <activity android:name=".workshop03.WS03ResultActivity"
            android:exported="false" />

        <!-- TODO 09: Declare service in manifest file -->
<!--        <service-->
<!--            android:name="com.android.academy.fundamentals.WS03Service"-->
<!--            android:exported="false" />-->
    </application>

</manifest>
